:root {
  --background: #0d1117;
  --color-border-default: #30363d;
  --color-border-muted: #21262d;
  --color-fg-muted: #8b949e;
  --color-header-bg: #161b22;
  --color-header-logo: #f0f6fc;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
  background: var(--background);
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  background-color: var(--color-header-bg);
  padding: 16px;
  line-height: 1.5;
  font-size: 14px;
  align-items: center;
}

.page-title {
  color: var(--color-header-logo);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  padding: 16px;
  line-height: 1.5;
  font-size: 14px;
  align-items: center;
  flex-shrink: 0;
  box-shadow: inset 0 1px 0 var(--color-border-muted);
}

.disclaimer {
  color: var(--color-fg-muted);
}

a {
  color: var(--color-header-logo);
  text-decoration: none;
  font-weight: 600;

}

a:hover {
  opacity: 70%;
}
